body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100%;
  padding: 0;
}

header {
  padding: 4rem 0;
  text-align: center;
  margin-top: 1rem;
  background-color: #f0f0f0;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
}

.rectangle-box {
  position: relative;
  width: 200px;
  height: 300px;
  background-color: #6bd7f8;
  border-radius: 12px;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  transform-style: preserve-3d;
}

.rectangle-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6bd7f8;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transform: translateZ(10px);
  opacity: 0;
  transition: opacity 0.3s;
}

.rectangle-box:hover {
  transform: translateY(-5px) rotateX(10deg);
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.3);
}

.rectangle-box:hover:before {
  opacity: 1;
}
